.App {
  text-align: center;
  max-width: auto;
  height: 100vh;
  /* background: url("./images/blbgfl.jpg"); */
  background-repeat: no-repeat;
}
#Modal-0{
  background-color:#f8f5f1;
  color:red;
  border-radius:8px;
}
.person{
  background-color:#f8f5f1!important;
  margin-bottom: 2px;
  border-top:2px solid #88aaec;
  justify-content: center;
}
.deleteG{
  /* margin-right:1vw; */
  margin:auto;
  background-color:red!important;
  color:white;
}
nav{
  height: 10vh;
  position:fixed;
  top:0;
  width: 100vw;
  background-color: #f8f5f1;
  color: rgb(56, 55, 55);
  font-family: "Italianno", cursive;
}
nav .brand-logo {
  color: rgb(56, 55, 55);
}
nav ul a{
  font-size:1.5em;
  font-weight:500;
  color: rgb(56, 55, 55);
}
.sidenav-trigger{
  color: rgb(56, 55, 55);
  font-weight:500;
}
#mobile-nav{
  background-color: #f8f5f1;
  color: rgb(56, 55, 55);
  font-size:3em;
  font-weight:500;
  font-family: "Italianno", cursive;
}
.sidenav li>a{
  font-size:1em;
  border: 1px solid rgb(56, 55, 55);
}
.sidenav li:hover{
  background-color:rgb(56, 55, 55);
}
li a{
  color: rgb(56, 55, 55);
  font-size:1.5em;
  font-weight:500;
}
.bgphoto{
  max-width: 60vh;
  height: 100vh;
  margin-top:15vh;
  margin:auto;
  background:url('./images/jgkiss.jpeg') ;
}
.radio {
  text-align: start;
}

#tcard {
  /* margin-top:10vh; */
  padding: 0;
  height: 90vh;
  /* position: relative; */
}

body {
  background: url("./images/seed.jpg");
  background-color: #282c34c4;
  background-repeat: repeat;
  background-size: cover;
}

.bg {
  padding-top: 15%;
  padding-bottom: 15%;
  margin: auto;
  background: url("./images/jglanding.jpeg");
  position: absolute;
  width: 70vw;
  height: 70vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* justify-content: center; */
  vertical-align: middle;
  border-style: hidden;
  border-radius: 8px;
}
.mBg {
  /* padding-top: 15%; */
  /* padding-bottom: 15%; */
  margin-top: 10vh;
  background: url("./images/jg8.jpg");
  background-repeat: no-repeat;
  background-size:contain;
  position: absolute;
  width: 100vw;
  height: 100vh;
  
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* justify-content: center; */
  vertical-align: middle;
  border-style: hidden;
  border-radius: 8px;
}
.row {
  margin: 0;
}

#bg {
  /* background: url("./images/blflwr.png"); */
  width: 27vw;
  position: absolute;
  top: 0px;
  right: 0px;
}

#bg1 {
  /* background: url("./images/blflwr.png"); */
  width: 27vw;
  transform: rotate(180deg);
  position: absolute;
  bottom: 0px;
  left: 0px;
}

#bg3 {
  width: 27%;
  position: absolute;
  top: 0px;
  right: 0px;
}

#bg4 {
  width: 27%;
  transform: rotate(180deg);
  position: absolute;
  bottom: 0px;
  left: 0px;
}

body {
  /* background: url("./images/blflwr.png"); */
  background-color: #d3dafa;
  background-position: center center;
  background-attachment: fixed;
  /* height: 100%; */
  /* width: 100%; */
  /* background-size: cover; */
  background-repeat: no-repeat;
  /* background-size: auto; */
}
#mTitle{
  width:33.3vw;
  background-color: #ffffffc4;
  position: fixed;
  bottom:15%;
  left: 33%;
}

.title1 {
  font-size: 2em;
  font-weight: 700;
  font-family: "Italianno", cursive;
  color: #272722;
  /* font-weight: 600; */
  /* color: linear-gradient(315deg, #44b09e 0%, #e0d2c7 74%); */
  text-align: center;
  margin: 0;
}

.title3 {
  font-size: 1.25em;
  font-weight: 700;
  font-family: "Italianno", cursive;
  color: #272722;
  /* font-weight: 600; */
  /* color: linear-gradient(315deg, #44b09e 0%, #e0d2c7 74%); */
  text-align: center;
  margin: 0;
}

.title4 {
  font-size: 1.5em;
  font-weight: 600;
  font-family: "Italianno", cursive;
  color: #272722;
  text-align: center;
  margin: 0;
}

.btn {
  background-color: white;
  border-radius:7px;
  color: #6293f5;
}

.btn:focus {
  background-color: #88aaec;
}

.btn:hover {
  background-color: #88aaec;
}

.menuB {
  position: absolute;
  top: 2vh;
  left: 2vw;
  padding: 0em;
  background-color: #3d3d3c4b;
  border: 0px;
  border-radius: 33px;
}

#dropdown3 > li:nth-child(1) {
  /* padding: .5em; */
}
::placeholder{
  color: white;
  font-size:1.5em;
}
div > span {
  font-size: 2em;
  font-weight: 600;
  font-family: "Italianno", cursive;
  text-align: center;
  color: white;
}
textarea{
  margin:2em 2em 2em 1em;
  height:15vh;
  color:white;
  border: inset;
  border-radius:5px;
}
[type="radio"]:checked+span:after{
  background-color: #fff;
  color:#fff;
  border-color:#88aaec;
}
.menuView {
  color: #88aaec;
  text-align: center;
  /* height: 60vh; */
}

.menu {
  background-color: #42424104;
  color: #ebecee;
  border: none;
  border-radius: 8px;
  width: 2.25em;
}

#dropdown-content {
  position: absolute;
  top: 10;
  left: 10;
  /* vertical-align: middle; */
}

#dropdown3 {
  border-radius: 5px;
  background-color: #c4c4bd;
  position: absolute;
  top: 0;
  left: 0;
}

.attending {
  background-color: #44b09e;
  color: #f8f5f5;
  border-radius: 8px;
  padding: 0.3em;
}

.decline {
  background-color: #e0553c;
  color: #f8f5f5;
  border-radius: 8px;
  padding: 0.3em;
}

.maybe {
  background-color: #4d4e4e;
  color: #f8f5f5;
  border-radius: 8px;
  padding: 0.3em;
}

.pContent {
  margin-top: 10vh;
  height: 90vh;
  overflow-y: auto
  /* vertical-align: middle; */

}

.btnNav {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #c4c4bd;
  border: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.noDecA{
  text-decoration: none;
}
.panel {
  background: #ebe0d0;
  box-shadow: 0 3px 7px 0 rgba(147, 147, 219, 0.37);
  backdrop-filter: blur( 5.5px );
  -webkit-backdrop-filter: blur( 5.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );  
  text-align: center;
}
.rsvpPanel {
  margin-top:10vh;
  background: #5dc2eb59;
  color: #fff;
  box-shadow: 0 3px 7px 0 rgba(147, 147, 219, 0.37);
  backdrop-filter: blur( 5.5px );
  -webkit-backdrop-filter: blur( 5.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );  
  text-align: center;
}
input[type=text]:not(.browser-default){
  border-bottom:2px solid white;
  font-size: 1.5em;
}
input{
  color:white;
  font-size: 1.5em;
  font-weight:800;
}
.auto {
  width: 100%;
  color: #fff;
}

.highlight::after {
  color: #88aaec;
}

.autocomplete-content {
  color: #88aaec;
}

#autocomplete-options-a1498c89-a30d-1c31-22d2-5e0033659e9f
  > li:nth-child(2)
  > span
  .card-image {
  align-content: center;
}
label{
  color: white;
  font-weight: bold;
  font-size: 1.35em;
}
.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.sidebar{
  margin-top:5vh;
  height:100%;
  /* width:25%; */
  background-color:rgba(255, 255, 255, 0);
}
.App-link {
  /* color: #61dafb; */
}
.adminbtn{
  width: 100%;
  height:16vh;
  background-color:#88aaec;
  border-radius: 8px;
}
.select-wrapper{
  width:100vw;
  background-color:rgb(250, 243, 229);
  border-radius: 8px;
}
.dropdown-content li>span {
  text-align: center;
  color:#88aaec;
}
#disp{
  margin-top: 5vh;
  height:80vh;
  
  overflow:auto;
  border-radius: 8px;
  background-color:rgb(250, 243, 229);
  border:3px inset rgb(179, 176, 176);
}
#adminDisplay{
  width:100vw;
  height:90vh;
  overflow:auto;
  /* background-color:white; */
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #mTitle {
    position: fixed;
    background-color:#e6e9eee0;
    bottom: 0;
    left: 0;
    max-height:14.5vh;
    width: 100%;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
