.App {
  text-align: center;
  max-width: auto;
  height: 100vh;
  /* background: url("./images/blbgfl.jpg"); */
  background-repeat: no-repeat;
}
#Modal-0{
  background-color:#f8f5f1;
  color:red;
  border-radius:8px;
}
.person{
  background-color:#f8f5f1!important;
  margin-bottom: 2px;
  border-top:3px inset white;
  justify-content: center;
}
.deleteG{
  /* margin-right:1vw; */
  margin:auto;
  margin-top:.75em;
  background-color:red!important;
  color:white;
}
nav ul li{
  float:none
}
nav{
  height: 10vh;
  position:fixed;
  top:0;
  width: 100vw;
  background-color: #7289aa98;
  color: #fff;
  font-family: "Italianno", cursive;
}
.navL{
  color: #fff;
  font-size:1.5em;
  font-weight: 700;
  margin-right:1em;
  padding: .25em
}
.navL:hover{
  background-color:#1e243dc4;
  font-size:1.75em;
}
#navLinks{
  background-color: #7289aa98;
  position:fixed;
  width: 100vw;
  color: #fff;
  font-family: "Italianno", cursive;
  /* bottom:0; */
  /* height:40vh; */
  text-align: center;
  /* padding-top:.5em; */
}
nav .brand-logo {
  color: #fff;
  font-weight: 800;
}
nav ul a{
  font-size:1.5em;
  font-weight:500;
  color: rgb(56, 55, 55);
}
.sidenav-trigger{
  color: #fff;
  font-weight:500;
}
#mobile-nav{
  background-color: #7289aac9;
  color: #ffff;
  font-size:3em;
  font-weight:500;
  font-family: "Tinos", serif;
}
.sidenav li>a{
  font-size:1em;
  border: 1px solid rgb(56, 55, 55);
}
.sidenav li:hover{
  background-color:#fff;
  color:#7289aa98;
}
li a{
  color: #fff;
  font-size:1.5em;
  font-weight:500;
}
/* .bgphoto{
  max-width: 60vh;
  height: 100vh;
  margin-top:15vh;
  margin:auto;
  background:url('./images/jgkiss.jpeg') ;
} */
.radio {
  text-align: start;
}

#tcard {
  /* margin-top:10vh; */
  padding: 0;
  height: 90vh;
  /* position: relative; */
}

body {
  background: url("./images/seed.jpg");
  background-color: #282c34c4;
  background-repeat: repeat;
  background-size: cover;
}

.bg {
  padding-top: 15%;
  padding-bottom: 15%;
  margin: auto;
  background: url("./images/jgmedResize.jpg");
  background-size: cover;
  position: fixed;
  width: 70vw;
  height: 70vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* justify-content: center; */
  vertical-align: middle;
  border-style: hidden;
  border-radius: 8px;
}
.mBg {
  /* padding-top: 15%; */
  /* padding-bottom: 15%; */
  margin-top: 0vh;
  background: url("./images/jgSm.jpeg") ;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  min-width: 100vw;
  height: 80vh;
  
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* justify-content: center; */
  vertical-align: middle;
  border-style: hidden;
  border-radius: 8px;
}
.row {
  margin: 0;
}

#bg {
  /* background: url("./images/blflwr.png"); */
  width: 27vw;
  position: absolute;
  top: 0px;
  right: 0px;
}

#bg1 {
  /* background: url("./images/blflwr.png"); */
  width: 27vw;
  transform: rotate(180deg);
  position: absolute;
  bottom: 0px;
  left: 0px;
}

#bg3 {
  width: 27%;
  position: absolute;
  top: 0px;
  right: 0px;
}

#bg4 {
  width: 27%;
  transform: rotate(180deg);
  position: absolute;
  bottom: 0px;
  left: 0px;
}

body {
  /* background: url("./images/blflwr.png"); */
  background-color: #d3dafa;
  background-position: center center;
  background-attachment: fixed;
  /* height: 100%; */
  /* width: 100%; */
  /* background-size: cover; */
  background-repeat: no-repeat;
  /* background-size: auto; */
}
#mTitle{
  width:33.3vw;
  background-color: #7289aa98;
  position: fixed;
  bottom:15%;
  left: 33%;
}
#dTitle{
  width:33%;
  padding:.75em;
  background-color: #7289aa98;
  color:white;
  border-radius: 8px;
  position: fixed;
  top:33%;
  left: 33%;
}

.title1 {
  font-size: 2em;
  font-weight: 700;
  padding: 0em;
  font-family: 'Tinos', serif;
  color: #fff;
  /* font-weight: 600; */
  /* color: linear-gradient(315deg, #44b09e 0%, #e0d2c7 74%); */
  text-align: center;
  margin: 0;
}
.title2 {
  font-size: 1em;
  font-weight: 700;
  padding-bottom: 0em;
  font-family: 'Tinos', serif;
  color: #fff;
  /* font-weight: 600; */
  /* color: linear-gradient(315deg, #44b09e 0%, #e0d2c7 74%); */
  text-align: center;
  margin: 0;
}
.title3 {
  font-size: 1.5em;
  font-weight: 800;
  /* padding: 0em; */
  font-family: 'Tinos', serif;
  color: white;
  text-align: center;
  margin: 0;
}

.title4 {
  font-size: 1.5em;
  font-weight: 800;
  font-family: 'Tinos', serif;
  color: #7289aa98;
  text-align: center;
  margin: 0;
}

.btn {
  background-color: white;
  border-radius:7px;
  color: #6293f5;
}

.btn:focus {
  background-color: #88aaec;
}

.btn:hover {
  background-color: #88aaec;
}

.menuB {
  position: absolute;
  top: 2vh;
  left: 2vw;
  padding: 0em;
  background-color: #3d3d3c4b;
  border: 0px;
  border-radius: 33px;
}
::placeholder{
  color: white;
  font-size:1.5em;
}
div > span {
  font-size: 2em;
  font-weight: 600;
  font-family: "Italianno", cursive;
  text-align: center;
  color: white;
}
textarea{
  margin:.5em 2em 2em 1em;
  height:18vh;
  color:white;
  background-color:#4e617a98;
  border: inset;
  border-radius:5px;
}
.input[type=text]{
  color:white;
  background-color:#4e617a98;
}
input[type=text]:not(.browser-default){
  background-color: #4e617a98;
}
[type="radio"]:checked+span:after{
  background-color: #fff;
  color:#fff;
  border-color:#88aaec;
}
.menuView {
  color: #88aaec;
  text-align: center;
  /* height: 60vh; */
}

.menu {
  background-color: #42424104;
  color: #ebecee;
  border: none;
  border-radius: 8px;
  width: 2.25em;
}

#dropdown-content {
  position: absolute;
  top: 10;
  left: 10;
  /* vertical-align: middle; */
}

#dropdown3 {
  border-radius: 5px;
  background-color: #c4c4bd;
  position: absolute;
  top: 0;
  left: 0;
}

.attending {
  background-color: #44b09e;
  color: #f8f5f5;
  border-radius: 8px;
  padding: 0.3em;
}

.decline {
  background-color: #e0553c;
  color: #f8f5f5;
  border-radius: 8px;
  padding: 0.3em;
}

.maybe {
  background-color: #4d4e4e;
  color: #f8f5f5;
  border-radius: 8px;
  padding: 0.3em;
}

.pContent {
  margin-top: 13vh;
  height: 90vh;
  /* position:fixed;
  bottom:0%; */
  overflow-y: auto
  /* vertical-align: middle; */

}

.btnNav {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #c4c4bd;
  border: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.noDecA{
  text-decoration: none;
}
#gMess{
  font-size:1.5em;
  font-weight:600;
}
.messDiv{
  background-color:#2d5fc4d8;
  padding:.3em;
  border-radius: 8px;
  border: 1px solid rgba(247, 202, 202, 0.18);
  box-shadow: 0 3px 7px 0 rgba(147, 147, 219, 0.37);
  margin-bottom: .3em;
}
.panel {
  background: #ebe0d0;
  box-shadow: 0 3px 7px 0 rgba(147, 147, 219, 0.37);
  backdrop-filter: blur( 5.5px );
  -webkit-backdrop-filter: blur( 5.5px );
  border-radius: 10px;
  border: 1px solid rgba(247, 202, 202, 0.18);  
  text-align: center;
}
.notesPanel {
  background: #7289aa98;
  box-shadow: 0 3px 7px 0 #9bcff15e;
  backdrop-filter: blur( 2.5px );
  -webkit-backdrop-filter: blur( 2.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );  
  text-align: center;
}
.addPanel{
  background: #5be278a1;
  box-shadow: 0 3px 7px 0 rgba(147, 219, 147, 0.37);
  backdrop-filter: blur( 5.5px );
  -webkit-backdrop-filter: blur( 5.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );  
  text-align: center;
}
.switch label input[type=checkbox]:checked+.lever{
  background-color:white;
}
#filterIn{
  position:sticky;
  top:0;
  background-color:#4e617a98
}
.rsvpPanel {
  margin-top:10vh;
  background: #7289aa98;
  color: #fff;
  box-shadow: 0 3px 7px 0 #1b1b4e5e;
  backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 4.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );  
  text-align: center;
}
input[type=text]:not(.browser-default){
  border-bottom:2px solid white;
  font-size: 1.5em;
}

input{
  color:white;
  font-size: 1.5em;
  font-weight:800;
}
.auto {
  width: 100%;
  color: #fff;
  font-family: 'Tinos', serif;;
}

.highlight::after {
  color: #88aaec;
}

.autocomplete-content {
  color: #88aaec;
}

#autocomplete-options-a1498c89-a30d-1c31-22d2-5e0033659e9f
  > li:nth-child(2)
  > span
  .card-image {
  align-content: center;
}
label{
  color: white;
  font-weight: bold;
  font-size: 1.35em;
}
.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.sidebar{
  margin-top:5vh;
  height:100%;
  /* width:25%; */
  background-color:rgba(255, 255, 255, 0);
}
#mdNav{
  margin-bottom:.5em;
  width:100vw;
  position:fixed;
  background: #7289aa98;
  /* align-items: center; */
  text-align: center;
  font-family: "Italianno", cursive;
}
.adminbtn{
  width: 100%;
  height:16vh;
  background: #7289aa98;
  font-weight: 800;
  color: #fff;
  border-radius: 8px;
}
.adminPh{
  /* height:3vh;
  width:50%;
  position:fixed;
  top:10vh;
  margin:auto; */
  /* margin-top:12vh; */
}
.select-wrapper{
  width:100vw;
  background: #7289aa98;
  border-radius: 8px;
}
.dropdown-content li>span {
  text-align: center;
  color:#88aaec;
}
#disp{
  margin-top: 5vh;
  /* margin-right: 1em; */
  height:80vh;
  width:80%;
  overflow:auto;
  border-radius: 8px;
  background-color:#7289aa98;
  color: white;
  padding-top: .25em;
  border:5px inset white;
  font-size:1.25em;
  font-weight:bold;
}
#adminDisplay{
  width:100vw;
  height:90vh;
  overflow:auto;
  /* background-color:white; */
}
@media only screen and (min-width: 768px) {

.contentFx{
  margin-top: 7em;
  position:fixed;
  overflow:auto;
  width:100%;
}
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #disp{
    width:100%;
  }
  #mTitle {
    position: fixed;
    background-color:#3f557c9f;
    color: white;
    bottom: 0;
    left: 0;
    padding-bottom: .3em;
    height:13vh;
    width: 100%;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
